<div class="large-12 cell">
    <div class="row expanded collapse">
        <div class="large-article-header">
            <div class="show-for-small-only">
                <div class="large-12 cell">
                    <div class="callout large" style="border: 0; background-color: transparent;">
                        <p class="text-center" style="color: #ef7d00; font-size: 2rem; margin-top: -1.3rem; margin-bottom: -0.8rem;">
                            <img src="{{root}}/assets/img/general-f-logo.png" alt="">
                        </p>
                        <p class="text-center" style="color: #ef7d00; font-size: 1.2rem; line-height: 1.4rem; margin-bottom: 0.4rem; margin-top: 0.8rem;">
                            <strong>Társasházak közös képviselete, társasházkezelés</strong>
                        </p>
                        <h5 class="text-center" style="font-size: 1.2rem;"><strong>„Minden, ami társasház”</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="large-article-header-content hide-for-small-only">
                <div class="center-container">
                    <div class="article-date">
                        <!-- <p>Published on Jan 12, 2016</p> -->
                    </div>
                    <div class="article-title">
                        <img src="{{root}}/assets/img/general-f-logo-larger.png" alt="">
                    </div>
                    <div class="article-details" style="font-size: calc(0.9rem + 1vw);  margin-top: calc(0rem + 1vw);"><strong>Társasházak
                            közös képviselete,
                            társasházkezelés</strong>
                    </div>
                    <div class="article-author" style="font-size: calc(1.8rem + 1vw);  margin-top: calc(-1rem + 1vw);">
                        <strong> <i> Minden, ami társasház</i></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
</div>